#container-title #insertion-point {
    width: 3gipx;
    height: 30px;
    background-color: #000000;
    margin: 0 5px;
    display: block;
}

#container-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#container-title h1 {
    margin: 0;
    padding: 0;
}